<html>
    <title>
        Books
    </title>
    <body>
            <div> Update Book</div>
         
        

            <form action="/<%=customer_id%>/update/<%= book[0].book_id %>" method="POST">
                <li className="Book">
                    <label>Book Name</label>
                    <input name="book_name" value="<%=book[0].book_name%>" type="text" placeholder="Black Beauty">

                    <label>Book Souce</label>
                    <input name="book_source"  value="<%=book[0].book_source%>"placeholder="Enter Link">

                    <label>Author</label>
                    <input name="author" value="<%=book[0].author%>" type="text" >

                    <label>Read Status</label>
                    <select name="read_status"  >
                        <option value="unread" <%= book[0].read_status === 'UNREAD' ? 'selected' : '' %>>UNREAD</option>
                        <option value="read" <%= book[0].read_status === 'READ' ? 'selected' : '' %>>READ</option>
                        <option value="reading" <%= book[0].read_status === 'READING' ? 'selected' : '' %>>READING</option>
                        
                    </select>

                    
                    <button type="submit">Save</button>


                </li>

            </form>
            
            <a href="/<%=customer_id%>">Back </a>

    </body>

</html>